
#first-display {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #ff7675;
  color: white;

}

#first-display h1 {

  font-size: 40px;
  margin: 0px;
  text-align: center;

}

#first-display p {

  font-size: 17px;

}
