
#first-display {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #ffeaa7;
  color: black;
  text-align: center;

}

#first-display h1 {

  font-size: 40px;
  margin: 0px;

}

#first-display p {

  font-size: 17px;

}

#second-display {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;

}

#second-display section {

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 400px;

}

cite {

  font-size: 25px;
  text-align: justify;
  color: black;
  margin: 20px;
  transition: all 0.2s linear;

}

.quote-img {

  width: 50px;

}

.author {

  font-size: 17px;
  width: 100%;
  text-align: right;

}

#second-display h1 {

  font-size: 25px;
  text-align: center;
  margin: 20px;

}

#second-display textarea, #second-display input {

  outline: none;
  border: none;
  text-align: center;
  margin: 5px;
  padding: 10px;
  background-color: white;
  border-radius: 3px;

}

#second-display button {

  margin: 20px;

}

.line {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.radio {

  margin: 5px;
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  transition: all 0.2s linear;
  cursor: pointer;
  background-color: #55efc4;
  border: solid 2px white;
  box-sizing: border-box;
  border-radius: 20px;

}

.radio span {

  width: 40px;
  height: 100%;
  background-color: white;
  color: white;
  border-radius: 10px;

}

.radio:hover {

  padding-left: 10px;
  padding-right: 10px;

}

#third-display {

  background-color: #ff7675;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 400px

}

.newest {

  font-size: 40px;
  color: white;

}

@keyframes showingQuote {
  0% {transform: translateX(100%); opacity: 0;}
  25% {transform: translate(0); opacity: 1;}
  75% {transform: translate(0); opacity: 1;}
  100% {transform: translateX(-100%); opacity: 0;}
}
